{% extends "admin_base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/main.css")}}">
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title text-center">Add Employee</h2>
        <form method="POST" action="/add_employee">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter Your Full Name"
              autocomplete="off"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter Your Email"
              autocomplete="off"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter Your Password"
              autocomplete="off"
            />
          </div>
          <button type="submit" class="btn btn-dark">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
