{% extends "employee_base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1>Hello, {{current_user.name}}!</h1>
            <img src="{{ url_for('static', filename='images/employee_dashboard.png') }}" alt="Leave Icon" height="500px">
            <h1 class="mt-4">Employee Dashboard</h1>
            <p class="mt-3">Streamline your leave requests and approvals.</p>
        </div>
    </div>
</div>
{% endblock %}
